/* https://developer.mozilla.org/en-US/ */

*{
  padding-left: 2%;
  padding-right: 2%;
}

#common {
  background-color: #e6fdff;
}

#main_heading {
    font-family:serif;
    text-align: center; 
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px;
}

a {
  color: #aa0000;
}

/* #b1{
  padding: 10px 15px;
  margin: 100px;
  border: 2px #aa0000 dotted;
  border-radius: 100px;
  height: 80px;
  width: 80px;
  
}

#box1{
  box-sizing: content-box;
  background-color: blueviolet;
  height: 100px;
  width: 100px;
}

#box2{
  box-sizing: border-box;
  background-color: cadetblue;
  height: 100px;
  width: 100px;
} */

/* .box{
  height: 40px;
}

#box1{
  background-color: rgb(255, 238, 1);
}

#box2{
  background-color: rgb(255, 129, 4);
}

#box3{
  background-color: rgb(0, 246, 254);
} */