@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-darkBg text-white transition-colors duration-300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

.section-container {
  @apply ml-64 px-10 py-10 min-h-screen;
}

.card-base {
  @apply p-6 rounded-xl border transition-colors duration-300;
}
